<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
<title>行哥</title>
<style type="text/css">
button { 
color:#ffffff;  background:#018be6; 
}
</style>
<head>
<body>
<button id="btn" style="width:120px">获取验证码</button>
</body>
<script type="text/JavaScript">
    var test = {
       node:null,
       count:60,
       start:function(){
          if(this.count > 0){
             this.node.innerHTML = this.count--+"秒后重新获取";
             var _this = this;
             setTimeout(function(){
                 _this.start();
             },1000);
          }else{
             this.node.removeAttribute("disabled");
             this.node.innerHTML = "重新获取";
//60秒读完，变回开始背景颜色，在这里添加。
             this.count = 60;
          }
       },
       //初始化
       init:function(node){
          this.node = node;
          this.node.setAttribute("disabled",true);
          this.start();
       }
    };
    var btn = document.getElementById("btn");
    btn.onclick = function(){
       alert("发送成功...");
       test.init(btn);
//点击改变背景颜色，在这里添加
    };
</script>
